@import url(https://fonts.googleapis.com/css?family=Montserrat:300,400);

body {
	padding: 30px;
	background-color: #e0c;
	font-family: "Montserrat", sans-serif;
}

.container {
	background-color: #fff;
}

.col-md-6 {
	text-align: right;
	text-transform: uppercase;
}

.hr-rule {
	border: 1px dotted #000;
}

.center-block {
	width: 100%;
}

h1 {
	text-align: right;
	letter-spacing: 3px;
	color: #fff;
	text-shadow: 4px 4px 8px #29f
}

h4 {
	text-align: right;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: 200;
	color: #fff;
	text-shadow: 3px 3px 6px #e0c
}

.text-thin {
	font-weight: 100;
}

.title-super {
	font-size: 60px;
}

.fa-bolt {
	color: #fe2;
}

h3 {
	color: #000
}

p {
	color: #000;
	text-shadow: 3px 3px 6px #f2b 
}

a {
	color: #a4f;
}